<div id="equipment">
    <th:block th:each="group : ${equipmentFinder.groupBy()}">
        <div class="equipment-item">
            <h2 class="equipment-item-title" th:text="${group.spec.displayName}"></h2>
            <div class="equipment-item-description" th:if="${not #strings.isEmpty(group.spec.description)}" th:text="${group.spec.description}"></div>
            <div class="equipment-item-content">
                <div th:each="equipment : ${group.equipments}" class="equipment-item-content-item">
                    <div class="equipment-item-content-item-cover">
                        <img class="equipment-item-content-item-image entered" th:alt="${equipment.spec.displayName}"
                            th:src="${equipment.spec.cover}">
                    </div>
                    <div class="equipment-item-content-item-info">
                        <div class="equipment-item-content-item-name" th:text="${equipment.spec.displayName}">
                        </div>
                        <div class="equipment-item-content-item-specification"
                             th:if="${not #strings.isEmpty(equipment.spec.specification)}"
                            th:text="${equipment.spec.specification}"></div>
                        <div class="equipment-item-content-item-description"
                             th:if="${not #strings.isEmpty(equipment.spec.description)}"
                             th:utext="${equipment.spec.description}">
                        </div>
                        <div th:each="itemData : ${equipment.spec.itemDataList}" class="equipment-item-content-item-specification"
                             th:text="${itemData.value}"></div>
                        <div class="equipment-item-content-item-toolbar" th:if="${not #strings.isEmpty(equipment.spec.url)}">
                            <a class="equipment-item-content-item-link" th:href="${equipment.spec.url}"
                                target="_blank">详情</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </th:block>
</div>